.avatar {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: 2px solid var(--green-500);
  border-radius: 30px;
}

.avatarComment {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  /* border: 2px solid var(--green-500); */
  border-radius: 30px;
}
