.header {
  background: rgba(0, 0, 0, 0.6);
  /* background: var(--gray-800); */
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 1rem 0;
}

.header img {
  height: 3rem;
}

.header h1 {
  color: var(--green-500);
}

.header span {
  color: var(--red-500);
}
